.f-doctor-dashboard-container h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #000;
}

.f-doctor-dashboard-container {
  font-family: "Poppins", sans-serif;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  color: black !important;
  padding: 20px;
}

.f-doctor-heading {
  font-size: 36px;
  text-align: center;
}

.f-doctor-dashboard-container table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.f-doctor-dashboard-container th,
.f-doctor-dashboard-container td {
  text-align: left;
  padding: 16px;
  max-width: 200px;
}
